body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: green;
  color: white;
  padding: 1rem;
  text-align: center;
}

.texto-1 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-texto-1{
  width: 50%;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.title{
  text-align: center;
}

.texto-importante{
  color: red;
}

main {
  padding: 2rem;
}

footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  padding: 0,5px;
  width: 100%;
  bottom: 0;
}
